[submodule "cookbooks/couchdb"]
	path = cookbooks/couchdb
	url = https://github.com/opscode-cookbooks/couchdb.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/jenkins"]
	path = cookbooks/jenkins
	url = https://github.com/opscode-cookbooks/jenkins
[submodule "cookbooks/imagemagick"]
	path = cookbooks/imagemagick
	url = https://github.com/opscode-cookbooks/imagemagick
[submodule "cookbooks/nodejs-cookbook"]
	path = cookbooks/nodejs-cookbook
	url = https://github.com/mdxp/nodejs-cookbook
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = https://github.com/customink-webops/phantomjs
[submodule "cookbooks/chef-jenkins"]
	path = cookbooks/chef-jenkins
	url = https://github.com/fnichol/chef-jenkins
[submodule "cookbooks/chef-apt"]
	path = cookbooks/chef-apt
	url = https://github.com/fnichol/chef-apt
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = https://github.com/opscode-cookbooks/memcached
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws
[submodule "cookbooks/xfs"]
	path = cookbooks/xfs
	url = https://github.com/opscode-cookbooks/xfs
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql
[submodule "cookbooks/varnish"]
	path = cookbooks/varnish
	url = https://github.com/opscode-cookbooks/varnish
[submodule "cookbooks/chocolatey"]
	path = cookbooks/chocolatey
	url = https://github.com/chocolatey/chocolatey-cookbook
[submodule "cookbooks/powershell"]
	path = cookbooks/powershell
	url = https://github.com/opscode-cookbooks/powershell
[submodule "cookbooks/redis"]
	path = cookbooks/redis
	url = https://github.com/ctrabold/chef-redis
