{
  "projects": {
    "project_list": []
  },
  "mysql": {
    "server_root_password": "worschdsalat",
    "bind_address": "127.0.0.1",
    "server_debian_password": "worschdsalat",
    "server_repl_password": "worschdsalat"
  },
  "couch_db": {
    "config": {
      "httpd": {
        "bind_address": "0.0.0.0"
      }
    }
  },
  "apache": {
    "default_site_enabled": false,
    "listen_ports": ["8000"]
  },
}
