<html>
  <head>
    <title>Active projects</title>
    <link rel="stylesheet" href="markdown.css" type="text/css" media="all" title="Screen" />
  </head>
  <body>
    <h1>Sites</h1>

    <ul>
      <% @params[:vhosts].each do |vhost| %>
        <li>
          <a href="http://<%= vhost[:contract_id] %>.<%= vhost[:server_name] %>">
            <%= vhost[:contract_id] %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
